@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito", sans-serif;
}
.container{
    position: relative;
    z-index: 2;
    min-height: 100vh;
}
.todo{
    width: 100%;
    padding: 80px 40px;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.todo::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}
ul{
    row-gap: 10px;
}
ul li{
    width: 100%;
    list-style-type: none;
    cursor: pointer;
    border: 1px solid #606060;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #222121;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
}
.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}

.deleteBtn{
    color: #ff4b04;
}

.editBtn{
    color: #256cf0;
}